.gxc-notification-bar {
    margin: 3px !important;
}
.gxc-notification-bar-success {
    border: 1px solid #AEE0AE !important;
    background-color: #D1EED1 !important;
    background-image: none !important;
}
.gxc-notification-bar-error {
    border:  1px solid #F79897 !important;
    background-color: #FDDFDE !important;
    background-image: none !important;
}
