.gxc-icon-italic {
    background-image: url(../resources/GXC/images/silk/text_italic.png);
}

.gxc-icon-bold {
    background-image: url(../resources/GXC/images/silk/text_bold.png);
}

.gxc-icon-up {
    background-image: url(../resources/GXC/images/silk/arrow_up.png);
}

.gxc-icon-down {
    background-image: url(../resources/GXC/images/silk/arrow_down.png);
}

.gxc-icon-add {
    background-image: url(../resources/GXC/images/silk/add.png);
}

.gxc-icon-remove {
    background-image: url(../resources/GXC/images/silk/delete.png);
}

.gxc-icon-edit {
    background-image: url(../resources/GXC/images/silk/application_edit.png);
}

.gxc-icon-duplicate {
    background-image: url(../resources/GXC/images/silk/arrow_divide.png);
}

.gxc-icon-download {
    background-image: url(../resources/GXC/images/silk/page_white_put.png);
}

.gxc-icon-palette {
    background-image: url(../resources/GXC/images/silk/palette.png);
}

.gxc-icon-eye {
    background-image: url(../resources/GXC/images/silk/eye.png);
}

.gxc-icon-help {
    background-image: url(../resources/GXC/images/silk/help.png);
}

.gxc-icon-wmc {
    background-image: url(../resources/GXC/images/geosilk/page_white_raster.png);
}

.gxc-icon-wmc-import {
    background-image: url(../resources/GXC/images/gxcsilk/wmc_import.png);
}

.gxc-icon-zoom-in {
    background-image: url(../resources/GXC/images/silk/magnifier_zoom_in.png);
}

.gxc-icon-zoom-out {
    background-image: url(../resources/GXC/images/silk/magnifier_zoom_out.png);
}

.gxc-icon-zoom-to-box {
    background-image: url(../resources/GXC/images/gxcsilk/zoom_to_box.png);
}

.gxc-icon-zoom-extent {
    background-image: url(../resources/GXC/images/gxcsilk/zoom_to_max.png);
}

.gxc-icon-map {
    background-image: url(../resources/GXC/images/silk/map.png);
}

.gis-icon-fullscreen {
    background-image: url(../resources/GXC/images/silk/monitor.png);
}

.gxc-icon-wand {
    background-image: url(../resources/GXC/images/silk/wand.png);
}

.gxc-icon-marker {
    background-image: url(../resources/GXC/images/geosilk/marker.png);
}

.gxc-icon-info {
    background-image: url(../resources/GXC/images/silk/information.png);
}

.gxc-icon-vector-info {
    background-image: url(../resources/GXC/images/gxcsilk/select_feature.png);
}

.gxc-icon-link {
    background-image: url(../resources/GXC/images/silk/link.png);
}

.gxc-icon-entry {
    background-image: url(../resources/GXC/images/silk/resultset_first.png);
}

.gxc-icon-previous {
    background-image: url(../resources/GXC/images/silk/resultset_previous.png);
}

.gxc-icon-next {
    background-image: url(../resources/GXC/images/silk/resultset_next.png);
}

.gxc-icon-raster {
    background-image: url(../resources/GXC/images/geosilk/raster.png);
}

.gxc-icon-error {
    background-image: url(../resources/GXC/images/geosilk/decline.png);
}

.gxc-icon-layer-group {
    background-image: url(../resources/GXC/images/geosilk/folder_layer.png);
}

.gxc-icon-vector {
    background-image: url(../resources/GXC/images/geosilk/vector.png);
}

.gxc-icon-raster-delete {
    background-image: url(../resources/GXC/images/geosilk/raster_delete.png);
}

.gxc-icon-vector-delete {
    background-image: url(../resources/GXC/images/geosilk/vector_delete.png);
}

.gxc-icon-raster-add {
    background-image: url(../resources/GXC/images/geosilk/raster_add.png);
}

.gxc-icon-print {
    background-image: url(../resources/GXC/images/silk/printer.png);
}

.gxc-icon-measure-path {
    background-image: url(../resources/GXC/images/geosilk/ruler.png)
}

.gxc-icon-measure-polygon {
    background-image: url(../resources/GXC/images/geosilk/ruler_triangle.png)
}
